@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Ephesis&display=swap');
@import url(styles/header.css);
@import url(styles/navbar.css);
@import url(styles/about.css);
@import url(styles/works.css);
@import url(styles/gallery.css);
@import url(styles/slider_video.css);
@import url(styles/socials.css);
@import url(styles/contact_footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Cormorant Garamond', serif;
    --rosa-details-color: rgb(226, 134, 134);
}

.stopScrolling {
    height: 100%;
    overflow: hidden;
}

html {
    scroll-behavior: smooth
}

.underLine {
    display: block;
    margin: 0 auto;
    margin-bottom: 15%;
    width: 50px;
    height: 3px;
    text-align: center;
    background-color: var(--rosa-details-color);
}

@media (min-width: 768px) and (orientation: portrait) {
    .underLine {
        margin-bottom: 10%;
        width: 100px;
        height: 5px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    .underLine {
        margin-bottom: 5%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .underLine {
        margin-bottom: 7%;
        width: 120px;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .underLine {
        margin-bottom: 5%;
        width: 100px;
    }
}