@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Ephesis&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    position: relative;
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 95vh;
}

.wrap {
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 3px 3px 3px black;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

.wrap p {
    font-size: 20px;
}

.wrap h2 {
    font-size: 40px;
    padding-top: 60%;
}

.title {
    font-family: 'Ephesis', cursive;
    padding: 10%;
}

.title h1 {
    font-size: 36px;
}

.title p {
    font-size: 26px;
}

.fa-arrow-down {
    font-size: 30px;
    padding-top: 10px;
    animation: arrowMove 1s ease 5s infinite;
}

@keyframes arrowMove {
    0% {
        padding-top: 10px;
    }

    50% {
        padding-top: 20px;
    }

    100% {
        padding-top: 10px;
    }
}

/* NAVBAR */


nav {
    position: sticky;
    top: 0;
    height: 5vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    background-color: white;
}

.navbar a {
    color: black;
    align-self: center;
    font-family: 'Ephesis', cursive;
    font-size: 26px;
    padding-left: 10px;
    text-decoration: none;
}

.burger {
    align-self: center;
    padding-right: 10px;
    font-size: 18px;
}

.menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    text-align: center;
    padding: 5% 5%;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.menu ul li {
    width: 100%;
    list-style-type: none;
    padding: 10%;
}

ul li a {
    display: block;
    padding: 2px;
    color: rgb(53, 53, 53);
    line-height: 100%;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.active {
    display: block;
}

/* ABOUT SECTION */

.about {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

.about h1 {
    font-size: 26px;
    text-transform: uppercase;
    padding: 15% 5%;
}

.about p {
    padding: 5% 10%;
    font-size: 18px;
}