@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Ephesis&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Cormorant Garamond', serif;
    --rosa-details-color: rgb(226, 134, 134);
}

.stopScrolling {
    height: 100%;
    overflow: hidden;
}

html {
    scroll-behavior: smooth
}

.underLine {
    display: block;
    margin: 0 auto;
    margin-bottom: 15%;
    width: 50px;
    height: 3px;
    text-align: center;
    background-color: var(--rosa-details-color);
}

@media (min-width: 768px) and (orientation: portrait) {
    .underLine {
        margin-bottom: 10%;
        width: 100px;
        height: 5px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    .underLine {
        margin-bottom: 5%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .underLine {
        margin-bottom: 7%;
        width: 120px;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .underLine {
        margin-bottom: 5%;
        width: 100px;
    }
}

/* HEADER */

header {
    position: relative;
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 95vh;
}

.wrap {
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 3px 3px 3px black;
    text-align: center;
}

.wrap p {
    font-size: 20px;
}

.wrap h2 {
    font-size: 40px;
    padding-top: 60%;
}

.title {
    font-family: 'Ephesis', cursive;
    padding: 10%;
}

.title h1 {
    font-size: 36px;
}

.title p {
    font-size: 26px;
}

.fa-arrow-down {
    font-size: 30px;
    padding-top: 10px;
    animation: arrowMove 1s ease 5s infinite;
}

@keyframes arrowMove {
    0% {
        padding-top: 10px;
    }

    50% {
        padding-top: 20px;
    }

    100% {
        padding-top: 10px;
    }
}

@media (min-width: 375px) and (orientation: portrait) {
    .wrap h2 {
        padding-top: 67%;
    }
}

@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
    .wrap h2 {
        padding-top: 105%;
    }
}

@media (min-width: 414px) and (orientation: portrait) {
    .wrap h2 {
        padding-top: 75%;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .wrap p {
        font-size: 30px;
    }

    .wrap h2 {
        font-size: 40px;
        padding-top: 65%;
    }

    .title h1 {
        font-size: 50px;
    }

    .title p {
        font-size: 36px;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .wrap p {
        font-size: 36px;
        padding: 0 10% 2% 10%;
    }

    .wrap h2 {
        font-size: 48px;
        padding-top: 70%;
    }

    .title {
        padding: 5%;
    }

    .title h1 {
        font-size: 100px;
    }

    .title p {
        font-size: 50px;
    }

    .fa-arrow-down {
        font-size: 46px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    header {
        height: 94vh;
    }

    .wrap {
        height: 94vh;
    }

    .wrap h2 {
        font-size: 30px;
        padding-top: 7%;
    }

    .title {
        padding: 5%;
    }

    .fa-arrow-down {
        font-size: 30px;
        padding-top: 10px;
        animation: arrowMove 1s ease 5s infinite;
    }
}

@media (min-width: 660px) and (orientation: landscape) {
    header {
        height: 93vh;
    }

    .wrap {
        height: 93vh;
    }

    .wrap h2 {
        font-size: 30px;
        padding-top: 7%;
    }

    .title {
        padding: 5%;
    }

    .fa-arrow-down {
        font-size: 30px;
        padding-top: 10px;
        animation: arrowMove 1s ease 5s infinite;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .wrap p {
        font-size: 32px;
        padding: 0 10% 1% 10%;
    }

    .wrap h2 {
        font-size: 48px;
        padding-top: 30%;
    }

    .title {
        padding: 2%;
    }

    .title h1 {
        font-size: 70px;
    }

    .title p {
        font-size: 40px;
    }

    .fa-arrow-down {
        font-size: 40px;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .wrap h2 {
        padding-top: 27%;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    header {
        height: 95vh;
    }

    .wrap {
        height: 95vh;
    }

    .wrap p {
        font-size: 28px;
    }

    .wrap h2 {
        font-size: 40px;
        padding-top: 25%;
    }

    .fa-arrow-down {
        font-size: 30px;
    }
}

/* NAVBAR */
nav {
    position: sticky;
    top: 0;
    height: 5vh;
    z-index: 2;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    background-color: white;
}

.navbar a {
    color: black;
    align-self: center;
    font-family: 'Ephesis', cursive;
    font-size: 26px;
    padding-left: 10px;
    text-decoration: none;
}

.burger {
    align-self: center;
    padding-right: 10px;
    font-size: 18px;
}

.menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    text-align: center;
    padding: 5% 5%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    z-index: 3;
}

.menu ul li {
    width: 100%;
    list-style-type: none;
    padding: 10%;
}

ul li a {
    display: block;
    padding: 2px;
    color: rgb(53, 53, 53);
    line-height: 100%;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.active {
    display: block;
}

@media (min-width: 768px) and (orientation: portrait) {
    .navbar a {
        font-size: 36px;
        padding-left: 20px;
    }

    .burger {
        padding-right: 20px;
        font-size: 36px;
    }

    .menu ul {
        width: 60%;
    }

    ul li a {
        font-size: 30px;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .navbar a {
        font-size: 46px;
        padding-left: 40px;
    }

    .burger {
        padding-right: 40px;
        font-size: 46px;
    }

    ul li a {
        font-size: 38px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    nav {
        height: 6vh;
    }

    .navbar {
        height: 6vh;
    }

    .menu ul {
        width: 50%;
    }

    .menu ul li {
        padding: 5%;
    }

    ul li a {
        font-size: 20px;
    }
}

@media (min-width: 660px) and (orientation: landscape) {
    nav {
        height: 7vh;
    }

    .navbar {
        height: 7vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .navbar a {
        font-size: 36px;
    }

    .burger {
        padding-right: 20px;
        font-size: 32px;
    }

    .menu ul {
        width: 50%;
    }

    ul li a {
        font-size: 28px;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .burger {
        display: none;
    }

    nav {
        height: 7vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
    }

    .navbar {
        height: 7vh;
    }

    .menu {
        display: block;
        width: 60%;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        height: 7vh;
        padding: 0;
        background-color: rgb(255, 255, 255);
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        padding: 0;
        height: 7vh;
    }

    .menu ul li {
        padding: 0;
        position: relative;
    }

    ul li a::before {
        opacity: 0;
        content: "";
        width: 80px;
        height: 3px;
        background-color: var(--rosa-details-color);
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: translate(-50%, 0%);
    }

    ul li:hover a::before {
        opacity: 1;
        left: 50%;
        transform: translate(-50%, 0%);
        transition: 0.2s;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    nav {
        height: 5vh;
    }

    .navbar {
        height: 5vh;
    }

    .menu {
        height: 5vh;
    }

    .menu ul {
        height: 5vh;
    }

    ul li a::before {
        bottom: -2px;
    }
}

/* ABOUT SECTION */

.about {
    text-align: center;
}

.about h1 {
    font-size: 26px;
    text-transform: uppercase;
    padding: 15% 5% 3% 5%;
}

.about p {
    padding: 5% 10%;
    font-size: 18px;
}

@media (min-width: 768px) and (orientation: portrait) {
    .about h1 {
        font-size: 40px;
    }

    .about p {
        font-size: 30px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    .about h1 {
        font-size: 26px;
        padding: 10% 5% 3% 5%;
    }

    .about p {
        padding: 5% 10%;
        font-size: 18px;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .about h1 {
        font-size: 36px;
        padding: 10% 5% 3% 5%;
    }

    .about p {
        font-size: 28px;
        padding: 5% 15%;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .about h1 {
        font-size: 32px;
        padding: 10% 5% 1% 5%;
    }

    .about p {
        font-size: 24px;
        padding: 5% 20%;
    }
}

/* SECTION WORKS */
.works h1 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    padding: 15% 5% 3% 5%;
}

.worksContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
}


.worksWrapp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.worksItm {
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.worksItm h1 {
    font-size: 24px;
    padding: 1%;
}

.bgimg {
    position: relative;
    left: 0;
    right: 0;
    height: 25vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.bgimg h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    text-shadow: 3px 3px 5px black;
    box-shadow: 2px 2px 15px black;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

.nature {
    background-image: url(img/nature.jpg);
}

.people {
    background-image: url(img/people.jpg);
}

.wedding {
    background-image: url(img/wedding.jpg);
}

.urban {
    background-image: url(img/urban.jpg);
}

.architecture {
    background-image: url(img/architecture.jpg);
}

.animals {
    background-image: url(img/animals.jpg);
}

@media (min-width: 768px) and (orientation: portrait) {
    .works h1 {
        font-size: 40px;
    }

    .worksItm h1 {
        font-size: 32px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    .works h1 {
        padding: 10% 5% 3% 5%;
    }

    .worksContainer {
        flex-direction: row;
    }

    .worksWrapp {
        width: 47%;
    }

    .worksItm {
        height: 30vh;
    }

    .worksItm h1 {
        font-size: 20px;
        padding: 3%;
    }

    .bgimg {
        height: 30vh;
    }

    .wedding {
        height: 50vh;
    }

    .wedding .bgimg {
        height: 50vh;
    }

    .urban {
        height: 50vh;
    }

    .urban .bgimg {
        height: 50vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .worksContainer {
        flex-direction: row;
    }

    .worksWrapp {
        flex-direction: column;
        width: 40%;
    }

    .wedding {
        height: 50vh;
    }

    .wedding .bgimg {
        height: 50vh;
    }

    .urban {
        height: 50vh;
    }

    .urban .bgimg {
        height: 50vh;
    }

    .works h1 {
        font-size: 36px;
    }

    .worksItm h1 {
        font-size: 26px;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .left {
        width: 55%;
    }

    .right {
        width: 35%;
    }

    .bgimg:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .worksContainer {
        width: 70%;
        margin: 0 auto;
    }

    .worksWrapp {
        width: 49%;
    }

    .nature {
        height: 30vh;
    }

    .nature .bgimg {
        height: 30vh;
    }

    .people {
        height: 50vh;
    }

    .people .bgimg {
        height: 50vh;
    }

    .wedding {
        height: 40vh;
    }

    .wedding .bgimg {
        height: 40vh;
    }

    .urban {
        height: 40vh
    }

    .urban .bgimg {
        height: 40vh;
    }

    .architecture {
        height: 50vh
    }

    .architecture .bgimg {
        height: 50vh;
    }

    .animals {
        height: 30vh;
    }

    .animals .bgimg {
        height: 30vh;
    }

    .works h1 {
        font-size: 32px;
        padding: 10% 5% 1% 5%;
    }

    .worksItm h1 {
        font-size: 26px;
        padding: 5%;
    }
}


/* GALLERY */
.galleryWrap {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -4;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    height: auto;
    width: 100vw;
    background-color: white;
}

.numberOf {
    font-size: 16px;
    padding: 1% 5%;
}

.gallery img {
    width: 100%;
    margin-bottom: 5px;
}

.gallery button {
    margin-right: 10px;
    color: white;
    background-color: var(--rosa-details-color);
    border: 1px solid var(--rosa-details-color);
}

.gallery button span {
    display: block;
    padding: 0 5px;
    font-size: 20px;
    transform: rotate(45deg);
    cursor: pointer;
}

.fas.fa-chevron-left {
    display: none;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    padding: 10px;
    cursor: pointer;
}

.fas.fa-chevron-right {
    display: block;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    padding: 10px;
    cursor: pointer;
}

@media (orientation: landscape) {
    .gallery {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }
}

@media (orientation: landscape) {
    .gallery {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .gallery {
        width: 80%;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .gallery {
        width: 50%;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }
}

/* SECTION SLIDER */
.slider h1 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    padding: 15% 5% 3% 5%;
    margin: 0 auto;
}

.sliderConteiner {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
}

@media (min-width: 768px) and (orientation: portrait) {
    .slider h1 {
        font-size: 40px;
        padding: 15% 5% 3% 5%;
        width: 70%;
    }

    .sliderConteiner {
        width: 70%;
        height: 300px;
        font-size: 30px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    .sliderConteiner {
        width: 70%;
        font-size: 18px;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .slider h1 {
        font-size: 36px;
        padding: 15% 5% 3% 5%;
        width: 75%;
    }

    .sliderConteiner {
        width: 70%;
        height: 300px;
        font-size: 28px;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .slider h1 {
        font-size: 32px;
        padding: 10% 5% 1% 5%;
    }

    .sliderConteiner {
        height: 100px;
        font-size: 24px;
    }
}

/* SECTION VIDEO */
.video video {
    width: 100%;
}

@media (min-width: 1440px) and (orientation: landscape) {
    .video video {
        height: 70vh;
    }
}

/* SECTION SOCIALS*/

.socials h1 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    padding: 15% 5% 3% 5%;
}

.socials div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 15%;
}

.socials div a {
    font-size: 30px;
    color: black
}

@media (min-width: 768px) and (orientation: portrait) {
    .socials h1 {
        font-size: 40px;
    }

    .socials div {
        padding-bottom: 5%;
    }

    .socials div a {
        font-size: 40px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    .socials h1 {
        padding: 20% 5% 3% 5%;
    }

    .socials div {
        width: 60%;
    }

    .socials div a {
        font-size: 26px;

    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .socials h1 {
        font-size: 36px;
    }

    .socials div {
        padding-bottom: 5%;
    }

    .socials div a {
        font-size: 40px;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .socials div a {
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        vertical-align: center;
        border: 3px solid white;
        border-radius: 50%;
    }

    .socials div a:hover {
        color: white;
        box-shadow: 0px 0px 0px 3px var(--rosa-details-color);
        background-color: var(--rosa-details-color);
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .socials h1 {
        font-size: 32px;
        padding: 10% 10% 1% 10%;
    }

    .socials div {
        width: 30%;
    }

    .socials div a {
        padding: 0;
        font-size: 30px;
        line-height: 60px;
        width: 60px;
        height: 60px;
        border: 2px solid white;
    }

    .socials div a:hover {
        box-shadow: 0px 0px 0px 2px var(--rosa-details-color);
    }
}

/* SECTION CONTACT */

.contact {
    position: relative;
    top: 0;
    left: 0;
}

.messageAlert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60%;
    background-color: white;
    border: 1px solid white;
    border-radius: 5%;
    z-index: 5;
    padding: 5% 10%;
    text-align: center;
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.4);
}

.alertActive {
    display: block;
}

.messageAlert p {
    font-size: 24px;
}

.messageAlert button {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 10px;
    background-color: var(--rosa-details-color);
    border: 1px solid var(--rosa-details-color);
    color: white;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
}

.contact h1 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    padding: 15% 5% 3% 5%;
}

.container {
    background-image: url(img/contactbg.jpg);
    background-position: center;
    background-size: cover;

}

.container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5%;
}

.name {
    width: 85%;
    border: 1px var(--rosa-details-color)solid;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
}

.email {
    width: 85%;
    border: 1px var(--rosa-details-color) solid;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
}

.subject {
    width: 85%;
    height: 200px;
    border: 1px var(--rosa-details-color) solid;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
}

form p {
    flex-basis: 100%;
    text-align: center;
    font-size: 14px;
}

.subBtn {
    background-color: var(--rosa-details-color);
    border: 1px var(--rosa-details-color) solid;
    color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    cursor: pointer;
    margin: 0 auto;
}

@media (min-width: 768px) and (orientation: portrait) {
    .contact h1 {
        font-size: 40px;
        padding: 15% 5% 3% 5%;
    }

    .container form {
        padding: 5%;
    }

    .name {
        width: 70%;
        border: 2px var(--rosa-details-color)solid;
        padding: 10px 15px;
        font-size: 22px;
    }

    .email {
        width: 70%;
        border: 2px var(--rosa-details-color) solid;
        padding: 10px 15px;
        font-size: 22px;
    }

    .subject {
        width: 70%;
        border: 2px var(--rosa-details-color) solid;
        padding: 10px 15px;
        font-size: 22px;
    }

    form p {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .subBtn {
        padding: 15px 35px;
        font-size: 26px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    .contact h1 {
        padding: 5% 5% 3% 5%;
    }

    .name {
        width: 70%;
    }

    .email {
        width: 70%;
    }

    .subject {
        width: 70%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .contact h1 {
        font-size: 36px;
        padding: 15% 5% 3% 5%;
    }

    .container form {
        padding: 5%;
    }

    .name {
        width: 60%;
        border: 2px var(--rosa-details-color)solid;
        padding: 10px 15px;
        font-size: 24px;
    }

    .email {
        width: 60%;
        border: 2px var(--rosa-details-color) solid;
        padding: 10px 15px;
        font-size: 24px;
    }

    .subject {
        width: 60%;
        border: 2px var(--rosa-details-color)solid;
        padding: 10px 15px;
        font-size: 24px;
    }

    form p {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .subBtn {
        padding: 15px 35px;
        font-size: 26px;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .contact h1 {
        padding: 10% 5% 3% 5%;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .contact h1 {
        font-size: 32px;
        padding: 5% 5% 1% 5%;
    }

    .name {
        width: 50%;
        font-size: 18px;
    }

    .email {
        width: 50%;
        font-size: 18px;
    }

    .subject {
        width: 50%;
        font-size: 18px;
    }

    form p {
        font-size: 16px;
    }

    .subBtn {
        padding: 10px 30px;
        font-size: 24px;
    }

    .messageAlert {
        width: 30%;
        padding: 2% 5%;
    }

    .messageAlert button {
        margin-top: 20px;
        padding: 10px 20px;
    }
}

/* SECTION FOOTER */

footer {
    text-align: center;
    color: gray;
}