.contact {
    position: relative;
    top: 0;
    left: 0;
}

.messageAlert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    padding: 5% 10%;
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 5%;
    background-color: white;
    z-index: 5;
}

.alertActive {
    display: block;
}

.messageAlert p {
    font-size: 24px;
}

.messageAlert button {
    margin: 0 auto;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    padding: 5px 10px;
    background-color: var(--rosa-details-color);
    border: 1px solid var(--rosa-details-color);
    color: white;
    cursor: pointer;
}

.contact h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    padding: 15% 5% 3% 5%;
}

.container {
    background-image: url(/Photography/img/contactbg.jpg);
    background-position: center;
    background-size: cover;

}

.container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5%;
}

label {
    width: 85%;
}

.name {
    width: 85%;
    border: 1px var(--rosa-details-color)solid;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
}

.email {
    width: 85%;
    border: 1px var(--rosa-details-color) solid;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
}

.subject {
    width: 85%;
    height: 200px;
    border: 1px var(--rosa-details-color) solid;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
}

form p {
    flex-basis: 100%;
    text-align: center;
    font-size: 14px;
}

.subBtn {
    background-color: var(--rosa-details-color);
    border: 1px var(--rosa-details-color) solid;
    color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    cursor: pointer;
    margin: 0 auto;
}

@media (min-width: 768px) and (orientation: portrait) {
    .contact h2 {
        font-size: 40px;
        padding: 15% 5% 3% 5%;
    }

    .container form {
        padding: 5%;
    }

    label {
        width: 70%;
    }

    .name {
        width: 70%;
        border: 2px var(--rosa-details-color)solid;
        padding: 10px 15px;
        font-size: 22px;
    }

    .email {
        width: 70%;
        border: 2px var(--rosa-details-color) solid;
        padding: 10px 15px;
        font-size: 22px;
    }

    .subject {
        width: 70%;
        border: 2px var(--rosa-details-color) solid;
        padding: 10px 15px;
        font-size: 22px;
    }

    form p {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .subBtn {
        padding: 15px 35px;
        font-size: 26px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    .contact h2 {
        padding: 5% 5% 3% 5%;
    }

    label {
        width: 70%;
    }

    .name {
        width: 70%;
    }

    .email {
        width: 70%;
    }

    .subject {
        width: 70%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .contact h2 {
        font-size: 36px;
        padding: 15% 5% 3% 5%;
    }

    .container form {
        padding: 5%;
    }

    label {
        width: 60%;
    }

    .name {
        width: 60%;
        border: 2px var(--rosa-details-color)solid;
        padding: 10px 15px;
        font-size: 24px;
    }

    .email {
        width: 60%;
        border: 2px var(--rosa-details-color) solid;
        padding: 10px 15px;
        font-size: 24px;
    }

    .subject {
        width: 60%;
        border: 2px var(--rosa-details-color)solid;
        padding: 10px 15px;
        font-size: 24px;
    }

    form p {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .subBtn {
        padding: 15px 35px;
        font-size: 26px;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .contact h2 {
        padding: 10% 5% 3% 5%;
    }
}

@media (min-width: 1600px) and (orientation: landscape) {
    .contact h2 {
        font-size: 32px;
        padding: 5% 5% 1% 5%;
    }

    label {
        width: 50%;
    }

    .name {
        width: 50%;
        font-size: 18px;
    }

    .email {
        width: 50%;
        font-size: 18px;
    }

    .subject {
        width: 50%;
        font-size: 18px;
    }

    form p {
        font-size: 16px;
    }

    .subBtn {
        padding: 10px 30px;
        font-size: 24px;
    }

    .messageAlert {
        width: 30%;
        padding: 2% 5%;
    }

    .messageAlert button {
        margin-top: 20px;
        padding: 10px 20px;
    }
}

/* SECTION FOOTER */

footer {
    text-align: center;
    color: gray;
}