.galleryWrap {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -4;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    height: auto;
    width: 100vw;
    background-color: white;
}

.numberOf {
    font-size: 16px;
    padding: 1% 5%;
}

.gallery img {
    width: 100%;
    margin-bottom: 5px;
}

.gallery button {
    margin-right: 10px;
    color: white;
    background-color: var(--rosa-details-color);
    border: 1px solid var(--rosa-details-color);
}

.gallery button span {
    display: block;
    padding: 0 5px;
    font-size: 20px;
    transform: rotate(45deg);
    cursor: pointer;
}

.fas.fa-chevron-left {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    padding: 10px;
    font-size: 40px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.fas.fa-chevron-right {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    padding: 10px;
    font-size: 40px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

@media (orientation: landscape) {
    .gallery {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }
}

@media (orientation: landscape) {
    .gallery {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .gallery {
        width: 80%;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    .gallery {
        width: 50%;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }
}